<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppFoodOrder"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.ReviewActivity"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <!-- Cau hinh FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="vn.hcmute.appfoodorder.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.activity.order.OrderStatusActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".ui.activity.OrdersOverviewActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.order.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.VerifyOtpResetPassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.ResetPassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FoodDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppFoodOrder" />
        <activity
            android:name=".ui.activity.FoodListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.intro.OnBoardingActivity"
            android:exported="true"
            android:theme="@style/Theme.AppFoodOrder.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>