<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppFoodOrder"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OrderStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OrdersOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.VerifyOtpResetPassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.ResetPassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FoodDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppFoodOrder" />
        <activity
            android:name=".ui.activity.FoodListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.intro.OnBoardingActivity"
            android:exported="true"
            android:theme="@style/Theme.AppFoodOrder.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>